@{
    ViewBag.Title = "Error occurred";
}

<h1 class="text-danger">We have a problem</h1>
<p>Sorry, an error occurred while executing your request.</p>
<br /><br />
<div class="text-left h4">Go back to the <a asp-controller="Home" asp-action="Index">Home</a> page</div>
