@model IEnumerable<IndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Watch Heaven</h1>
</div>
<img src="https://images.squarespace-cdn.com/content/v1/5c78138211f784469d4817df/74271b8f-d755-422d-892d-30a20d382c68/SIX_3B8C5AB3-E7E3-4087-86F0-28142A8DBCB8.JPG?format=1500w" class="img-fluid" style="transform: scale(0.85);" />
<div class="container-fluid">
    <h2>Our Most Expensive Time Pieces</h2>
    <div class="row">
        @foreach (var watch in Model)
        {
            <div class="col-lg-3 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img src="@watch.ImageUrl" class="card-img-top" style="object-fit: cover; height: 200px;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title flex-grow-1">@watch.Brand</h5>
                        <p class="card-text">@watch.Model</p>
                        <a asp-controller="Watch" asp-action="Details" asp-route-id="@watch.Id"
                           class="btn btn-primary mt-auto">See more</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <h2>
        Categories
    </h2>
    <div class="container-fluid">
        <div class="btn-group d-flex flex-wrap">
            <a class="btn btn-outline-primary flex-fill" role="button" href="/Watch/All?Category=Vintage&Condition=&SearchString=&WatchSorting=0">Vintage</a>
            <a class="btn btn-outline-primary flex-fill" role="button" href="/Watch/All?Category=Chronograph&Condition=&SearchString=&WatchSorting=0">Chronographs</a>
            <a class="btn btn-outline-primary flex-fill" role="button" href="/Watch/All?Category=Diving&Condition=&SearchString=&WatchSorting=0">Diving</a>
            <a class="btn btn-outline-primary flex-fill" role="button" href="/Watch/All?Category=Pilot's&Condition=&SearchString=&WatchSorting=0">Pilot's</a>
            <a class="btn btn-outline-primary flex-fill" role="button" href="/Watch/All?Category=Military&Condition=&SearchString=&WatchSorting=0">Military</a>
        </div>
    </div>

</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <btn class="btn btn-primary" id="statisticsBtn">Show Statistics</btn>
    </div>
</div>

<div class="mt-4 p-5 bg-dark d-none" id="statisticsBox">
    <div class="row">
        <h2 class="col-md-6 text-center text-light" id="totalWatches"></h2>
        <h2 class="col-md-6 text-center text-light" id="totalUsers"></h2>
    </div>
</div>

<div class="card mt-5 container-fluid" style="max-width: 800px;">
    <img src="https://assets.aboutamazon.com/dims4/default/46050cb/2147483647/strip/true/crop/1919x1080+1+0/resize/1320x743!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fd5%2F8e%2F3afa1cef496ea40cbdcee54d28b5%2Fprivacyoption-3.jpg" style="max-width: 800px; height: auto;" class="card-img-top" alt="Shop Logo">
    <div class="card-body">
        <h5 class="card-title">Watch Heaven</h5>
        <h6 class="card-subtitle mb-2 text-muted">Premium Watches with Enhanced Security</h6>
        <p class="card-text">Welcome to Watch Heaven! We offer a wide selection of premium watches from renowned brands. Our collection includes luxury, sports, and vintage timepieces to suit every style and occasion.</p>
        <h6 class="card-subtitle mb-2 text-muted">Your Protection is Our Priority</h6>
        <p class="card-text">At Your Watch Shop, we prioritize the security of your purchases and personal information. We have implemented robust measures to ensure a safe shopping experience:</p>
        <ul class="card-text">
            <li>Secure Payment Processing</li>
            <li>SSL Encrypted Checkout</li>
            <li>Trusted Shipping Partners</li>
            <li>Privacy Policy Compliance</li>
        </ul>
        <p class="card-text">Shop with confidence knowing that we take your protection seriously. Explore our collection today!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput"/></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messageList"></ul>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>



@section Scripts{
    <script>
        $('#statisticsBtn').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            if ($('#statisticsBox').hasClass('d-none')){
                $.get('https://localhost:7076/api/statistics', function (data) {
                    $('#totalWatches').text(data.totalWatches + " Watches");
                    $('#totalUsers').text(data.totalUsers + " Users");
                    $('#statisticsBox').removeClass('d-none');
                    $('#statisticsBtn').text('Hide Statistics');
                });
            }
            else{
                $('#statisticsBox').addClass('d-none');
                $('#statisticsBtn').text('Show Statistics')
            }
        });
    </script>
}

