@model IEnumerable<WatchAllViewModel>

@{
    ViewBag.Title = "My Favorite Watches";
}

<style>
    .card {
        display: flex;
        flex-direction: column;
        height: 100%; /* Set the card to occupy full height */
    }

    .card-body {
        flex: 1; /* Allow the card body to grow and occupy remaining space */
    }
</style>

<h2>@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row">
        @foreach (var watch in Model)
        {
            <partial name="_WatchPartial" model="watch" />
        }
    </div>
</div>
